
&nbsp;
<hr />
<p style="text-align: center;">Relatório de <a href="https://github.com/EpiVet2020">Carolina Merca & Raquel Costa</a></p>
<p style="text-align: center;"><span style="color: #808080;"><em>karolmerka@hotmail.com & raqueldelobocosta@gmail.com</em></span></p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<p style="text-align: center;">
    <a href="https://github.com/EpiVet2020" class="fab fa-github"></a>
</p>

&nbsp;

